# the unique identifier for the BTRFS partition (from `btrfs filesystem show`)
dest_device_uuid: 'e080ac83-fbb7-489e-b5c5-6135d4b2e0b9'

# where you mount your backup
backup_mount_point: '/srv/btrfs_backups'

# log file
log_file: '/var/log/time_machine.log'

# extra mount options for the btrfs volume
#mount_options:
#   - compress

# extra rsync options
#rsync_options:
#    " --max-size 2G"

# max age in hours to keep a snapshot around for.
snapshot_max_age:
    hourly: 48   # 2 days
    weekly: 2160 # 90 days
    daily: 720   # 30 days

# lock file to prevent simultaneous backups.
lock_file: '/var/lock/time_machine'

# who should be notified upon error (optional)
#alert_email: 'someone@somewhere.com'
